<article class="character-card">
    <img *ngIf="infoCard.image" class="character-card__img" src="{{infoCard.image}}" alt="">
    <div class="character-card__info">
        <h3 class="character-card__name">
            {{infoCard.name}}
        </h3>
        <p class="character-card__location">{{infoCard.headline}}</p>
        <p *ngFor="let attribute of infoCard.attributes" class="attributes-container"> 
            <span class="character-card__attribute-name">{{attribute.name}}:</span>
            <span class="character-card__attribute-value">{{attribute.value}}</span>
        </p>
        <button *ngIf="infoCard.showDetail" (click)="viewDetails(infoCard.id)" class="character-card__anchor item-padding">Ver detalles</button>
    </div>
</article>
