<article class="character-card">
    <img class="character-card__img" src="assets/Imagen (1).png" alt="">
    <div class="character-card__info">
        <h3 class="character-card__name">
            PRESENTADOR
        </h3>
        <p class="character-card__location item-padding">Cable Interdimensional</p>
        <p class="character-card__species item-padding">Especie: 
            <span class="character-card__species">Humana</span> 
        </p>
        <a (click)="viewDetails()" class="character-card__anchor item-padding">Ver detalles</a>
    </div>
</article>
