<div class="character-filter">
    <div class="character-filter__title" role="button" (click)="openModalFilter()">
        <span class="filter-text">Filtrar y ordenar</span>
        <img src="assets/Vector.png" alt="">
    </div>
    <div *ngIf="showFilter" class="character-filter__modal">
        <form>
            <div class="character-filter__select">
                <label class="label-filter-select" for="filter1">Filtro 1:</label>
                <select class="filter-select" id="filter1">
                    <option class="filter-option" value="">1</option>
                    <option class="filter-option"value="">1</option>

                </select>
            </div>
            <div class="character-filter__select">
                <label class="label-filter-select" for="filter2">Filtro 2:</label>
                <select class="filter-select" id="filter2">
                    <option class="filter-option" value="">1</option>
                    <option class="filter-option"value="">1</option>
                </select>
            </div>
            <div class="character-filter__select">
                <label class="label-filter-select" for="filter3">Filtro 3:</label>
                <select class="filter-select" id="filter3">
                    <option class="filter-option" value="">1</option>
                    <option class="filter-option" value="">2</option>

                </select>
            </div>
            <div class="character-filter__buttons">
                <button class="filter-button">Filtrar</button>
                <button class="close-button"(click)="closeModalFilter()" >Cerrar</button>
            </div>
        </form>
    </div>
</div>


