.nav-bar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 5px; 
    background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);

    @media (min-width: 376px) {
        background: none;
    }
}

.nav-bar__text {
    font-family: Creepster;
    color: white;
    font-size: 14px;

    @media (min-width: 376px) {
        font-size: 24px;
        padding-left: 30px;
    }
}

.nav-bar__item {
    display: flex;
    flex-direction: column;
}

.nav-bar__character-filter {
    border: none;
    background: none;
    outline: none;
    background-image: url('../../../assets/Rick\ \(1\).svg');
    width: 58px;
    height: 68px;
    margin-bottom: 7px;

    @media (min-width: 376px) {
        background-image: url('../../../assets/Meezeek\ 2.png');
        background-size: cover;
        width: 150px;
        height: 371px;   
        margin-bottom: 25px
    }
}

.active{
   opacity: 0.5; 
}

.nav-bar__episodes-filter {
    border: none;
    background: none;
    outline: none;
    background-image: url('../../../assets/Morty.svg');
    width: 61.04px;
    height: 65px;
    margin-top: 6px;
    margin-bottom: 4px;

    @media (min-width: 376px) {
        background-image: url('../../../assets/Meezeek\ 1.png');
        background-size: cover;
        width: 191.77px;
        height: 371px; 
        margin-bottom: 18px  
    }
}
