<div class="container-cards">
    <app-character-card 
        class="container-cards__card"
        *ngFor="let card of items"
        [infoCard]="card"
        (showCharacterDetail)="showModal($event)"
    >
    </app-character-card>
</div>
<app-modal-detail [showModal]="showCharacterDetail" (closeModal)="closeModal()">
    <ng-template #body>
        <app-character-card [infoCard]="infoCard" class="character-card__modal"></app-character-card>
        <div class="modal-detail__body">
            <app-header-card *ngIf="width > 375" class="modal-detail__header" [characterName]="infoCard.name" [characterLocation]="infoCard.headline"></app-header-card>
            <ul>
                <li *ngFor="let attribute of infoAttributes">
                    <span class="attribute-name">{{attribute.name}}: </span>
                    <span class="attribute-value">{{attribute.value}}</span>
                </li>
            </ul>
        </div>
    </ng-template>
</app-modal-detail>
