.character-card__modal {
    ::ng-deep {
        .character-card__img,
        .character-card__info{
            border-radius: 0;
            width: auto;
            box-shadow: none;
        }
    }
}

.character-card__modal {
    ::ng-deep {
        .character-card__name,
        .character-card__location{

            @media (min-width: 376px) {
                display: none;
            }
        }
        .character-card__attribute-name{
            font-family: Play;
            font-size: 12px;
            background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;

            @media (min-width: 376px) {
                text-align: center;
                font-size: 24px;
                width: 171px;
            }
        }
        .character-card__attribute-value{
            color: #404040;
            font-size: 12px; 

            @media (min-width: 376px) {
                text-align: center;
                font-size: 18px;
                margin-bottom: 27px;
            }       
        }
        .character-card {
            @media (min-width: 376px) {
                flex-direction: column;
                width: 359px;
                height: auto;
                padding: 34px 30px 301px 29px;
                background-color: #F6F6F6;
            }
        }
        .character-card__img {
            @media (min-width: 376px) {
                border-radius: 10px;
                margin-bottom: 23px
            }
        }
        .attributes-container {
            @media (min-width: 376px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }
    }
}

.modal-detail__header {
    ::ng-deep {
        .character-card__name{
            @media (min-width: 376px) {
                font-size: 24px;
            }
        }
        .character-card__location {
            @media (min-width: 376px) {
                padding-bottom: 71px;
            }
        }
    }
}

.container-cards {
    @media (min-width: 376px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

.container-cards__card {
    @media (min-width: 376px) {
        height: 300px;
        margin-bottom: 76px;
    }
}

.modal-detail__body {
    display: flex;
    flex-direction: column;
    padding: 34px 14px 192px 16px;
    @media (min-width: 376px) {
        flex-direction: column;
        padding: 38px 0 0 32px;
    }
}

ul {
    list-style-type: none;
}

.attribute-name {
    display: inline-block;
    font-family: Play;
    font-size: 14px;
    background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 80px;
    margin-bottom: 13px;

    @media (min-width: 376px) {
        margin-bottom: 19px;
        width: 97px;
        height: 22px;
        text-align: center;
    }
}

.attribute-value {
    display: inline-block;
    color: #404040;
    font-size: 14px;
}