<div class="character-filter">
    <div  *ngIf="showFilter" (click)="closeModalFilter()" class="overlay"></div>
    <div class="character-filter__title" role="button" (click)="openModalFilter()">
        <span class="filter-text">Filtrar y ordenar</span>
        <img src="assets/Vector.png" alt="">
    </div>
    <div *ngIf="showFilter" class="character-filter__modal">
        <form [formGroup]="filterForm">
            <div *ngFor="let control of filters[filterFor]" class="character-filter__select">
                <label class="label-filter-select" for="filter1">{{control.label}}:</label>
                <input *ngIf="control.type === 'text'; else selectControl" class="filter-input" [formControlName]="control.control">
                <ng-template #selectControl>
                    <select class="filter-select" id="filter1" [formControlName]="control.control">
                        <option *ngFor="let filterOption of control.options" class="filter-option" value="{{filterOption.value}}">{{filterOption.description}}</option>
                    </select>
                </ng-template>
            </div>
            <div class="character-filter__buttons">
                <button class="filter-button" (click)="filter()">Filtrar</button>
                <button class="close-button" (click)="closeModalFilter()" >Cerrar</button>
            </div>
        </form>
    </div>
</div>


